# Python bytecode, cache, and temp files
__pycache__/
*.py[cod]

# Virtual environments
venv/
venv*/
.env/
.env*/
env/
env*/

# PyCharm IDE/project settings
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Mac/Windows hidden files
.DS_Store
Thumbs.db

# Env and secret files
*.env

# Ignore build outputs
build/
dist/
*.egg-info/

# Ignore logs and test output
*.log
.pytest_cache/

# Ignore notebooks converted to other formats
*.nbconvert/

# Uncomment if you need to ignore
# data/
# *.csv

# Include requirements and environment files, or Uncomment to ignore!
# requirements.txt
# environment.yml

# Ignore temporary files
*.bak
*.swp

# Ignore my documentation
docs/


# Ignore experimental files
notebooks/experiments_comparison.ipynb