spacy
# Core Data Science
numpy
pandas

# Visualization
matplotlib
seaborn
wordcloud

# NLP & Text Processing
nltk
textblob
vaderSentiment

# Machine Learning
scikit-learn

# Deep Learning & Transformers
transformers
torch

# Jupyter Notebook
jupyter
notebook
ipykernel

# To Run BERT Model on GPU
# PyTorch with CUDA 13.0 (for RTX 50-series)
# pip install --pre torch torchvision --index-url https://download.pytorch.org/whl/nightly/cu130